

 <!-- <w3-test-directive></w3-test-directive> -->
<div   class="background" >
        <div style=" width:100%; opacity:0.5; background-color:white; z-index:10;" >
                <img src="https://petcdnstore.blob.core.windows.net/csp-preprod-assets/1016/header.png"  >
      </div>
      <img src="https://petcdnstore.blob.core.windows.net/csp-preprod-assets/1016/header.png" style="position: absolute;top:0px; left:0pxx;">
      
<br><br><br><br>
   



     <div class="container">
               
                <div class="row" >
                  <div class="col-12 col-sm-8 col-lg-8 col-xl-8" style="padding:10px" >
                                <div  ng-include="'./components/login/form.html'"></div> 
                   </div>
                  <div class="col-12 col-sm-4 col-lg-4 col-xl-4" style="padding:10px; ">
                                <div  ng-include="'./components/login/contact.html'"></div>
                  </div>
                </div>
              </div>

</div>

<div style="clear: both;"></div>


<div class="container p-5 " style="padding:30px;">
        The Hollard Insurance Company Pty Limited (Hollard) AFSL 241436 is the issuer of Woolworths Pet Insurance. Woolworths Limited (Woolworths) AR 245476 acts as Hollard’s Authorised Representative. Woolworths is remunerated by Hollard for each policy sold, the details of which can be found in the Financial Services Guide (FSG). You should carefully read the Product Disclosure Statement (PDS) before deciding whether to purchase Woolworths Pet Insurance. The Combined PDS and FSG can be found at woolworthsinsurance.com.au. Any advice contained in the PDS or this website is general advice only and does not take into account your individual objectives, financial situation or needs. Before acting on any advice you should consider its appropriateness for you.
</div>


<div ng-include="'./components/detail/modalInfo.html'"></div>


